<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
	<title>Uncle Boons</title>
</head>
<body>
<nav id="index_nav">
	<a href="/"><img src="asset/logo.png" id="logo"></a>
	<ul>
		<li><a href="/reservation">Reservation</a></li>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/info">Info</a></li>
	</ul>
</nav>
<iframe id="video_BG" mozallowfullscreen="" allowfullscreen="" src="https://player.vimeo.com/video/128895503?wmode=opaque&amp;autoplay=1&amp;api=1" width="500" webkitallowfullscreen="" frameborder="0" height="281" id="yui_3_17_2_1_1466742076095_1706" style="opacity: 1;"></iframe>

<footer>
  <p id="float_L">UNCLE BOONS &copy; 2016 Chefs & owners: Matt Danzer & Ann Redding</p>
  <p id="float_R"> Call 646.370.6650 | Email info@uncleboons.com</p>
</footer>
</body>
</html>