<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
	<title>Uncle Boons</title>
</head>
<body>
	<nav id="index_nav">
		<a href="/"><img src="asset/logo.png" id="logo"></a>
		<p id="info">
			Mon-Thurs 5:30pm-11pm<br>
			Fri & Sat 5:30pm-12midnight<br>
			Sun 5:30pm-10pm<br><br>
			7 Spring Street NY <br>
			Between Elizabeth & Bowery<br><br>
(			646)370-6650<br>
		<ul>
			<li><a href="/reservation">Reservation</a></li>
			<li><a href="/menu">Menu</a></li>
			<li><a href="/info">Info</a></li>
		</ul>
	</nav>
	<!-- <iframe id="video_BG" mozallowfullscreen="" allowfullscreen="" src="https://player.vimeo.com/video/105281945?wmode=opaque&amp;autoplay=1&amp;loop=1&amp;api=1" width="500"  allowfullscreen="" frameborder="0" height="281" id="yui_3_17_2_1_1466742076095_1706" style="opacity: 1;">
		
	</iframe>
 -->
 	<video id="video_BG" src="asset/uncle_boons_2.mp4" type="video/mp4" autoplay loop>

	</video>

</body>
</html>