<link rel="stylesheet" href="style.css">
<div id="wrapper">
	<div class=container>
		<div class="overlay">
			<h3>HOURS</h3>
			<p>Monday-Thursday  5:30pm-11pm<br>
				Friday & Saturday  5:30pm-12midnight<br>Sunday  5:30pm-10pm</p>
			<h3>ADDRESS</h3>
			<p>7 Spring Street <br>Between Elizabeth & Bowery<br>NYC 10012</p>
			<p>(646)370-6650<br>info@uncleboons.com
			</p>
		</div>
		<dir></dir>
			<figure class="map_figure">
				<img id="map" class="map_zoom" src="asset/map.jpg">
			</figure>
	</div>
</div>

<!-- Scripts -->    
