<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
	<title>Uncle Boons</title>
</head>
<body>
<nav>
	<a href="/"><img src="" id="logo"></a>
	<ul>
		<li><a href="/info">info</a></li>
		<li><a href="/menu">menu</a></li>
		<li><a href="/resevation">reservation</a></li>
	</ul>
</nav>
	<h1>LAYOUT</h1>
	<%= yield %>
<footer>
  UNCLE BOONS &copy; 2016
</footer>
</body>
</html>