<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
	<title>Uncle Boons</title>
</head>
<body>
<nav>
	<a href="/"><img src="asset/logo.png" id="logo"></a>
	<ul>
		<li><a href="/info">Info</a></li>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/reservation">Reservation</a></li>
	</ul>
</nav>
	<h1>LAYOUT</h1>
	<%= yield %>
<footer>
  <p id="float_L">UNCLE BOONS &copy; 2016 Chefs & owners: Matt Danzer & Ann Redding</p>
  <p id="float_R"> Call 646.370.6650 | Email info@uncleboons.com</p>
</footer>
</body>
</html>