<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="style.css">

	<title>Uncle Boons</title>
</head>
<body>
<nav id="index_nav">
	<a href="/"><img src="asset/logo.png" id="logo"></a>
	<ul>
		<li><a href="/reservation">Reservation</a></li>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/info">Info</a></li>
	</ul>
</nav>

<nav id="block_nav">
	<a href="/"><img src="asset/logo.png" id="logo"></a>
	<ul>
		<li><a href="/reservation">Reservation</a></li>
		<li><a href="/menu">Menu</a></li>
		<li><a href="/info">Info</a></li>
	</ul>
</nav>

	<%= yield %>
<footer>
  <p id="float_L">UNCLE BOONS &copy; 2016 Chefs & owners: Matt Danzer & Ann Redding</p>
  <p id="float_R"> Call 646.370.6650 | Email info@uncleboons.com</p>
</footer>
</body>
</html>