<link rel="stylesheet" href="style.css">
<div id="wrapper">
	<div class=container>
	<div class="menu_heading">
		<h2> Small Plates </h2>
	</div>
	<!-- Small Plates  -->
		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
			<div class="item_descript">
				
				<h2 class="food_title">Betel </h2>
				<p class="food_p">Betel leaf wrap with ginger, lime, toasted coconut, dried shrimp, chili, and peanuts. A traditional Thai snack</p>
				<br>
				<br>
				<p class="price"> 12.00 </p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Shrimp Paste Riblets </h2>
				<p class="food_p">Shrimp paste, pork riblets, and radish with fish sauce caramel</p>
				<p class="price"> 12.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			
			<div class="item_descript_r">
				<h2 class="food_title">Green Mango Salad </h2>
				<p class="food_p">Green mango salad, avocado, peanuts and dried squid.</p>
				<p class="price"> 14.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			
			<div class="item_descript_r">
				<h2 class="food_title">Chicken & Banana Blossom Salad </h2>
				<p class="food_p">Spicy rotisserie chicken and banana blossom salad with cashews, crispy shallot, and roasted chili dressing.</p>
				<br>
				<br>
				<p class="price"> 15.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
		</div>
		
		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Lamb Laab </h2>
				<p class="food_p">Spicy chopped lamb salad with mint, pickled onion, cucumber, chili, and toasted rice powder.</p>
				<p class="price"> 16.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Isaan Sour Sausage </h2>
				<p class="food_p">Grilled Isaan pork and rice sour sausage. Mommy Pai’s recipe! </p>
				<p class="price"> 16.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->
		<div id="empty_div"></div>
		<!-- End of all the small plates -->
	</div> 
	<div id="empty_div"></div>
	<!-- End of div container  -->
</div>