
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="style.css">
<div id="wrapper">
	<div class=container>
		<div class="menu_heading">
			<h2> Small Plates </h2>
		</div>
		<!-- Small Plates  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/beter.jpg">
			</figure>
			<div class="item_descript">
				
				<h2 class="food_title">Betel </h2>
				<p class="food_p">Betel leaf wrap with ginger, lime, toasted coconut, dried shrimp, chili, and peanuts. A traditional Thai snack</p>
				<br>
				<br>
				<p class="price"> 12.00 </p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/shrimp_riblets.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Shrimp Paste Riblets </h2>
				<p class="food_p">Shrimp paste, pork riblets, and radish with fish sauce caramel</p>
				<p class="price"> 12.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<div class="item_descript_r">
				<h2 class="food_title">Green Mango Salad </h2>
				<p class="food_p">Green mango salad, avocado, peanuts and dried squid.</p>
				<p class="price"> 14.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/green_mango.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<div class="item_descript_r">
				<h2 class="food_title">Chicken & Banana Blossom Salad </h2>
				<p class="food_p">Spicy rotisserie chicken and banana blossom salad with cashews, crispy shallot, and roasted chili dressing.</p>
				<br>
				<br>
				<p class="price"> 15.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/chicken_banana.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/lamb_laab.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Lamb Laab </h2>
				<p class="food_p">Spicy chopped lamb salad with mint, pickled onion, cucumber, chili, and toasted rice powder.</p>
				<p class="price"> 16.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/issan.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Isaan Sour Sausage </h2>
				<p class="food_p">Grilled Isaan pork and rice sour sausage. Mommy Pai’s recipe! </p>
				<p class="price"> 16.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->
	
		<!-- End of all the small plates -->
		<div class="menu_heading">
		<h2> Large Plates </h2>
		</div>
	<!-- Starting of large plates -->
	<div class="overlay">
			<div class="item_descript_r">
				<h2 class="food_title">Khao Soi </h2>
				<p class="food_p">Northern-style golden curry with homemade egg noodles, chicken leg, pickled mustard greens, and fresh turmeric.</p>
				<br>
				<br>
				<p class="price"> 21.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/khao_soi.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			
			<div class="item_descript_r">
				<h2 class="food_title"> Crab Fried Rice </h2>
				<p class="food_p">Traditional crab fried rice with egg, cilantro, and lime. Common allergens: fish, soy, oyster, egg, dairy.</p>
				<br>
				<br>
				<p class="price"> 26.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/crab_rice.jpg">
			</figure>
		</div>
			<div class="overlay">
			<figure>
				<img class="zoom" src="asset/massaman.jpg">
			</figure>
			<div class="item_descript">
				
				<h2 class="food_title">Massaman </h2>
				<p class="food_p">Boneless beef ribs with massaman curry, potato, red onion, peanut, and green peppercorn. </p>
				<br>
				<br>
				<p class="price"> 25.00 </p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/dorade.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Whole Roasted Dorade </h2>
				<p class="food_p">Whole charcoal-roasted dorade with charred leeks and nam prik dipping sauces. No substitutions can be accommodated.</p>
				<br>
				<br>
				<p class="price"> 28.00</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->
		<!-- End of all the large plates -->
		<div class="menu_heading">
		<h2> Side Plates </h2>
		</div>
		<!-- Starting of the sides -->
		<div class="overlay">
			<div class="item_descript_r">
				<h2 class="food_title">Rotisserie Cabbage </h2>
				<p class="food_p">Spicy rotisserie cabbage with roasted chili nam prik, crispy dried shrimp, and shallots.</p>
				<p class="price"> 7.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/rotisserie.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">	
			<div class="item_descript_r">
				<h2 class="food_title">Nam Priks (Homemade Chili Sauces) </h2>
				<p class="food_p">Chilli Jam, garlic, shallots, fish sauce, lime juice, cilantro.</p>
				<p class="price"> 2.00</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/nam_priks.jpg">
			</figure>
			<!-- End of sides  -->
		<!-- End of div overlay  -->
		</div>

	</div> 
	
	<!-- End of div container  -->
</div>