<link rel="stylesheet" href="style.css">
<div id="wrapper">
	<div class=container>
		
		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			
			<div class="item_descript_r">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			
			<div class="item_descript_r">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
			<figure class="fr">
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
		</div>
		
		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_01.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->

		<div class="overlay">
			<figure>
				<img class="zoom" src="asset/ny_uncle_boons_02.jpg">
			</figure>
			<div class="item_descript">
				<h2 class="food_title">Text </h2>
				<p class="food_p">Food Descript</p>
			</div>
			<!-- End of div item_descript  -->
		</div>
		<!-- End of div overlay  -->
	</div> 
	<!-- End of div container  -->
</div>