<link rel="stylesheet" href="style.css">
<div id="r_content">

	<div id="form_content">
		
<h2>Thank your for your reservation</h2>
<h3><%="Your reservation is at " + params[:date] + ' ' + params[:time] + " for " + params[:people] +  " people. Thanks" %></h3>
		
	</div>
</div>