nav {
	margin: 20px 20px;
	

}

ul,li {
	list-style: none;
	display: inline;
	float: right;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #FF8A21;
}

a:hover {
	color: #08AAB2;
	
}

footer {
	text-transform: uppercase;
	background-color:#5C2229;
	height: 55px;
	color: #08AAB2;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer p {
	margin: 19px 30px;
}

body{
	padding: 0;
	margin: 0;
}

#float_R {
	float: right;
}

#float_L {
	float: left;
}

nav img {
	width: 220px;

}

.container{
	width: 100vw;
	margin: 0 auto;
}

figure {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
}

.fr {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: right;
	margin: 0;
	padding: 0;
}

.zoom {
	width: 300px;
	height: 300px;
	-webkit-transition: all .3s ease-out; 
}


.zoom:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.item_descript{
	width:300px;
	height: 300px;
	margin: 0;
	float: right;

}

.item_descript_r{
	width:300px;
	height: 300px;
	margin: 0;
	float: left;

}

.overlay{
	width: 600px;
	height: 300px;
	float: left;
}